.main .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}

.main .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);

    
    
}

.main .content .box:hover{
    box-shadow: 0px 0px 10px #000000;
    z-index: 2;
    transition: all 300ms ease-in;
    transform: scale(1.1);
}

.main .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
    background: url(../burbuja.svg);
    background-repeat: no-repeat;
    background-position: center;
    
}
.main .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .content .box .text{
    padding: 15px 0px 5px ;
    text-align: center;
    text-transform: uppercase;
   
}

.main .content .box .text h3{
    
    
    font-weight: 700;
    color: #111;
}