@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 1000px;
}
p{
    font-weight: 300;
    color: #111;
}

p span{
    font-weight: 700;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url(bg.jpg); */
    background-size: cover;
}

.banner .contenedor{
    max-width: 900px;
    text-align: center;
}

.banner .contenedor h2{
    font-size: 5em;
    color: #fff;
}


.banner .contenedor p{
    font-size: 1em;
    color: #fff;
}

.btn{
    font-size: 1em;
    color: #fff;
    background: #8A3FFC;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover{
    letter-spacing: 6px;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo{
    text-decoration: none;
    color: #111;
    font-size: 2em;
    font-weight: 700;
}

header.sticky .logo{
    color: #111;
    
}

header .logo span{
    color:#8A3FFC;
   
}

header .navegador{
    position: relative;
    display: flex;
}

header .navegador li{
    list-style: none;
    margin-left: 30px;
}

header .navegador li a{
    color: #111;
    text-decoration: none;
    font-weight: 500;
}

header.sticky .navegador li a{
    color:#000;
}

header .navegador li a:hover{
    color:#8A3FFC;
}


section{
    padding: 100px;
}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50{
    position: relative;
    width: 48%;
}

.Titulo-texto{
    color: #111;
    font-size: 2em;
    font-weight: 300;

}

.Titulo-texto span{
    color: #8A3FFC;
    font-weight: 700;
    font-size: 1.5em;
}



.row .col50 .imgBx{
    position: relative;
    width: 100% ;
    height: 100%;
}



.row .col50 .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.titulo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}

.menu .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);

    
    
}

.menu .content .box:hover{
    box-shadow: 0px 0px 10px #000000;
    z-index: 2;
    transition: all 300ms ease-in;
    transform: scale(1.1);
}

.menu .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
    background: url(burbuja.svg);
    background-repeat: no-repeat;
    background-position: center;
    
}
.menu .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu .content .box .text{
    padding: 15px 0px 5px ;
    text-align: center;
    text-transform: uppercase;
   
}

.menu .content .box .text h3{
    
    
    font-weight: 700;
    color: #111;
}

.cntr {
	display: table;
	width: 100%;
	height: 100%;
    }
	.cntr-innr {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}


.search {
	display: inline-block;
	position: relative;
	height: 35px;
	width: 35px;
	box-sizing: border-box;
	margin: 0px 8px 7px 0px;
	padding: 7px 9px 0px 9px;
	border: 3px solid #8A3FFC ;
	border-radius: 25px;
	transition: all 500ms ease;
	cursor: text;
}
	.search:after {
		content: "";
		position: absolute;
		width: 3px;
		height: 20px;
		right: -5px;
		top: 21px;
		background: #8A3FFC;
		border-radius: 3px;
		transform: rotate(-45deg);
		transition: all 200ms ease;
	}

	.search.active,
	.search:hover {
		width: 200px;
		margin-right: 0px;

	}

	input {
		width: 100%;
		border: none;
		box-sizing: border-box;
		font-family: Helvetica;
		font-size: 15px;
		color: inherit;
		background: transparent;
		outline-width: 0px;
	}


@media(max-width:991px){
    
    header{
        padding: 40px;
    }

    header .navegador{
        display: none;
        
    }

    header .navegador.active{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #8A3FFC;
        z-index: 10;
    }

    

    header .navegador li a{
        
        font-size: 1.6em;
        margin-left: 0;
        margin: 10px 0;
        
    }

    header .navegador li a {
        
        color: #fff;
        text-decoration: none;
        font-weight: 500;
    }

    .funcionNav{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(img/menu.png);
        filter: invert(1);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 1000;
    }

    .funcionNav.active{
        background: url(img/close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        filter: invert(1);
        
    }

    .menu .content .box .imgBx{
        position: relative;
        width: 100%;
        height: 300px;
        background: url(burbuja.svg);
        
    }

   
}

@media(max-width:577px){

    .menu .content .box .imgBx{
        position: relative;
        width: 100%;
        height: 300px;
        background: none;
        
    }
}

@media(max-width:494px){


}